* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-block {
    border: solid;
    border-color: black;
    border-radius: 18px;
    
    padding: 20px;
    width: 400px;
    height: 500px;
}

#btn {
    width: 50px;
}

#weather-info {
    height: 350px;
    margin-top: 20px;
    padding: 10px;
}

#error {
    margin-top: 20px;
}
