* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-block {
    
    border: solid;
    border-color: black;
    border-radius: 18px;

    padding: 20px;
    width: 350px;
    height: 400px;

}

#city-selector {
    display: flex;
    justify-content: space-between;
}

#weather-info {
    border: solid;
    border-color: black;

    height: 320px;

    margin-top: 20px;
    padding: 10px;
}

#error {
    margin-top: 40px;
}